.patient-waiting-form {
  margin-bottom: 48px;
}
.form-title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: #555555;
}

.emergency {
  text-align: center;
  color: #555555;
  margin-bottom: 8px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  min-width: 500px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.card-body-content {
    text-align: center;
}

.card-body-content .message {
  margin-bottom: 12px;
}

#leave-waiting-room-btn {
  color: white;
  margin-bottom: 0 !important;
}
