.patient-waiting-form {
  margin-bottom: 48px;
}
.form-title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: #555555;
}

.sub-title {
  text-align: center;
  color: #555555;
  margin-bottom: 8px;
}

.buttons-container {
  text-align: center;
}

button.btn {
  color: white;
  margin-bottom: 0 !important;
}
