.provider-form {
  margin-bottom: 48px;
}
.form-title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: #555555;
}

form {
  display: flex;
  justify-content: center;
}

.card {
  min-width: 500px;
}

#enter-waiting-room-btn {
  color: white;
  margin-bottom: 0 !important;
}
