/*
grey: d6d6d6
*/

header {
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 32px;
  padding: 8px 32px;
}
.logo > img {
  max-height: 40px;
}

.user-info {
  color: rgb(105, 103, 107);
  display: flex;
  align-items: center;
}

.logged-in-user {
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.logged-in-user select {
    border: 0 !important;
    padding-left: 2px !important;
    padding-right: 4px !important;
}
